extends ../layout
block content
	h1 Orchard Inventory
	table.table
		tr
			th Tree Type
			th Quantity
		if trees && trees.length > 0
				tr
					td #{item.tree}
					td #{item.quantity}
		else
			tr
				td(colspan=2) No records in database


	a(href='/tree/create') Add Tree
